# .NET
**/bin/
**/obj/
*.user
appsettings.Development.json
dotnet

# Node
node_modules/
frontend/dist/

# Misc
.DS_Store
.env

backend/ledger12.API/data/ledger12.*
backend/data/ledger12.*
ledger11data/
